@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2rem;
}

* >*{
    font-family: "Mulish", sans-serif;
}

.logo{
    .logo-name{
        color: #667eea;
    }
    h1{
        padding: 10px;
    }
    .features{
        text-align: center;
        margin-bottom: 60px;
        h2{
            color: black;
            margin: 50px auto;
            font-size: 36px;
        }
        .features-grid{
            display: grid;
            grid-template-columns: auto auto;
            gap: 15px;
            .feature-card{
                padding: 32px;
                margin: 15px;
                border-radius: 12px;
                box-shadow: 0 4px 6px 5px rgba(0,0,0,0.1);
                .feature-icon{
                    font-size: 36px;
                }
                p{
                    color: gray;
                }
            }
        }
    }
}

// .container{
//     background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
//     color: #ffff;
//     // width: 100%;
//     height: 100dvh;
//     display: flex;
//     margin: 0 auto;
//     align-items: center;
//     place-content: center;
//     .main{
//         // width: %;
//         margin: 0 auto;
//         .appName{
//             // padding: 10px;
//             h1{
//                 font-size: 70px;
//             }
//             p{
//                 margin-top: 25px;
//                 font-size: 25px;
//             }
//         }
//         .btn{
//             margin: 10px auto;
//             display: grid;
//             grid-template-columns: auto auto;
//             gap: 50px;
//             button{
//                 border: none;
//                 color: #667eea;
//                 font-size: 16px;
//                 font-weight: bold;
//                 border-radius: 10px;
//                 padding: 8px 0;
//                 transition: all .3s ease-in-out;
//                 &:hover{
//                     background-color:#8d7cc7;
//                     color: #ffff;
//                     border: 2px solid #ffff;
//                     transition: all .3s ease-in-out;
//                 }
//             }
//         }
//         form{
//             .loginDetail{
//                 display: grid;
//                 label{
//                     font-size: 20px;
//                 }
//                 input{
//                     border-radius: 5px;
//                     border: none;
//                     padding: 0x;
//                 }
//                 button{
//                     margin: 15px auto;
//                     width: fit-content;
//                     padding: 0 10px;
//                     border-radius: 5px;
//                     border: none;
//                     font-weight: bold;
//                     color: #667eea;
//                     background-color: #ffff;
//                     transition: all .3s ease-in-out;
//                     &:hover{
//                         background-color:#8d7cc7;
//                         color: #ffff;
//                         border: 2px solid #ffff;
//                         transition: all .3s ease-in-out;
//                     }
//                 }
//             }
//         }
//         a{
//             text-decoration: underline;
//             transition: all .3s ease-in-out;
//             font-weight: bold;
//             color: #ffff;
//             &:hover{
//                 color: #667eea;
//                 border-radius: 5px;
//                 background-color: #ffff;
//                 text-decoration: none;
//                 font-size: 16px;
//                 padding: 5px 10px;
//                 transition: all .3s ease-in-out;
//             }
//         }
//     }
// }