.container{
    width: 100%;
    height: 100dvh;
    place-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    .main{
        background-color: white;
        width: 60%;
        margin: auto;
        padding: 50px 10px;
        border-radius: 25px;
        .loginWelcome{
            text-align: center;
        }
        form{ 
            width: 80%;
            margin: auto;
            div{
                display: grid;
                input{
                    border-radius: 10px;
                    border: 1px solid;
                }

                button{
                    margin-top: 30px;
                    border: none;
                    border-radius: 10px;
                    color: white;
                    background-color:#667eea;
                    font-weight: 600;
                    font-size: 16px;
                    transition: all .3s ease-in-out;
                    &:hover{
                        cursor: pointer;
                        background-color: white;
                        color: #667eea;
                        font-weight: 900;
                        font-size: 18px;
                    }
                }

            }
        }
        p{
            text-align: center;
            color: gray;
            a{
                text-decoration: none;
                color: #667eea;
                font-weight: 600;
            }
        }
    }
}